
.content-details {
    position: relative;
    width: 100%;
    height: 560px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    text-align: center;
    overflow-y: auto;
}
p{
    margin: 10px;
    align-self: center;
}
p:hover{
    cursor: default;
}
h1:hover, h2:hover {
    cursor: default;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.details-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    gap: 10px;
}

#poster {
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

#poster:hover {
    transform: scale(1.03);
}


.details-container p{
    margin-left: 2px;
}

.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#actor-img {
    max-width: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}

#actor-img:hover {
    transform: scale(1.03);
}

.cast{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.actor{
    margin: 5px 10px;
}

.contentGallery{
    display: flex;
    flex-direction: column;
}

.images{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
.image{
    display: flex;
    border-radius: 5px;
    margin: 10px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}
.image:hover{
    transform: scale(1.03);
}

.watch_trailer {
    background: grey;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 7px 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: transform 200ms ease-out, background 150ms ease-out, border 150ms ease-out;
}

.watch_trailer:hover {
    background: black;
    border-color: white; 
    transform: scale(1.1);
    cursor: pointer;
}

.watch_trailer::before {
    content: "▶";
    color: white;
    margin-right: 5px;
    font-size: 14px;
}



@media (max-width: 1050px) {
    .content-details{
        justify-content: center;
    }
    .details-container {
        flex-direction: column;
    }
    #poster{
        max-height: 250px;
    }
    p{
        font-size: 0.95rem;
        margin: 6px;
    }
    #actor-img{
        max-width: 125px;
    }
    .image{
        max-width: 250px;
    }
    .watch_trailer{
        font-size: 0.95rem;
        padding: 6px 12px;
        cursor: pointer;
    }

}
@media (max-width: 600px) {
    .details-container {
        flex-direction: column;
    }
    #poster{
        max-height: 180px;
    }
    p{
        font-size: 0.85rem;
        margin: 5px 0;
    }
    #actor-img{
        max-width: 100px;
    }
    .image{
        max-width: 200px;
    }
    .watch_trailer{
        font-size: 0.85rem;
        padding: 4px 8px;
        cursor: pointer;
    }
}
