.nav-bar {
    display: flex;
    width: auto;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-buttons img {
    width: 150px;
    transition: transform 50ms ease-in-out;
}

.nav-buttons img:hover {
    transform: scale(1.02);
    transform-origin: center;
}

.nav-buttons h1:hover {
    cursor: pointer;
}

.nav-buttons button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 5px 10px;
    cursor: pointer;
}
.nav-buttons button:hover {
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    min-width: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    background: transparent;
    border: none;
    flex-grow: 1;
    padding: 5px;
}

.search-bar button {
    background: transparent;
    border: none;
    padding: 5px;
}

.search-bar input:focus {
    border: none;
    outline: none;
    background: transparent;
}
